
//====LINK FUENTES=====//
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Serif:ital,wght@0,200;0,600;0,700;0,900;1,600;1,800&display=swap');


//====COLORES====//

$azul:#0e2aca;
$naranja: #ff8c20;
$fondo:rgb(41, 25, 185);
$gradient:linear-gradient(to right, #f317b1dc, #c116e4, #f313e0dc);
$hover:rgb(218, 133, 240);
$fondoletra:#d18512;
$letra:#ffffff;


//====FUENTES=====//

$tipo-de-letra: 'Bebas Neue', Roboto-Serif;
$tipoletra: verdana;
$font-size-header:25px;