@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixin";


header {
    h1 {

        @include titulo;
    font-family: $tipo-de-letra;
    font-style: inherit;
    font-weight: normal;}

}



p {
    padding: 10px;
        margin: 15px;
        color: azure;
        background:$gradient;
}    


header{
    nav{
        a{
        &:hover{
            cursor: pointer;
            background-color: $hover;
            }
        }
        }
    }
    


